@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root{
    --gray:#787878;
    --blue:#829DFF;
    --light-blue-txt:#9FB2FF;
    --extra-light-blue-txt:#93A9FF;
    --font-size-large:20px;
    --font-size-small:16px;
    --font-size-very-small:12px;
    --font-weight-high:600;
    --font-weight-low:500;
    --line-height-high:24.38px;
    --line-height-low:19.5px;
    --line-height-very-low:14.63px;
    --circle-btn-grad-light:#DEE5FF;
    --circle-btn-grad-dark:#809AFF;
    --rect-btn-grad-light:#95BEFF;
    --rect-btn-grad-dark:#7B91FF;
    --bg-light-gray:#F1F1F1;
    --color-dark-gray:#7F7F7F;
    --bg-sky-blue:#8CB1FF;
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    